/* <-- Preload --> */
.js div#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: black url('../img/preload.gif') no-repeat center center; 
}
.pre-load-title {
	margin-top: 30%;
	color: white;
	text-align: center;
	font-family: 'Lobster';
	color: #F7CA18;
}

/* HTML5 Audio player with playlist styles */
.main {
    margin: 50px auto 0;
    width: 400px;
}
.player {
    background: url(../img/playerbcg.jpg);
    background-size: 100% 100%;
    border: solid #F7CA18 1px;
    border-radius: 5px;
    height: 163px;
    position: relative;
    width: 389px;
    z-index: 2;
    background-size: 100% 100%;
}
.title, .artist {
    font-family: Arial;
    left: 137px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: yellow;
    font-size: 12px;
    font-weight: bold;
    top: 23px;
}
.artist {
    color: yellow;
    font-size: 12px;
    top: 40px;
}
.pl {
    background: transparent url("../img/spr.png") no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 320px;
    position: absolute;
    top: 50px;
    width: 32px;
}
.pl:hover {
    top: 51px;
}
.cover {
    background: transparent url(../uploads/folder/cover.jpg) no-repeat scroll center top;
    background-size: 100% 100%;
    border: solid #F7CA18 1px;
    border-radius: 5px 5px 5px 5px;
    height: 100px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 100px;
}
.controls {
    cursor: pointer;
    height: 23px;
    left: 137px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url("../img/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hiddenn {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    background-color: black;
    padding: 2px;
    border: solid white 1px;
    height: 11px;
    left: 137px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url("../img/spr.png") no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    background: url("../img/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.playlist {
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 366px;
    z-index: 1;
}
.playlist li {
    color: yellow;
    cursor: pointer;
    margin: 0 0 5px 15px;
}
.playlist li.active {
    font-weight: bold;
}

/* <-- Navbar --> */

.navbar {
	background-color: rgba(0,0,0,0.7);
	border: none;
	height: 65px;
}
.navbar-brand {
	color: #F7CA18 !important;
	font-family: 'Pacifico';
	font-size: 36px;
}
.navbar-default .navbar-nav > li > a {
	color: #F7CA18 !important;
	font-family: 'Lobster';
	font-size: 20px;
}
.navbar-default .navbar-nav > .open > a {
	background-color: #F7CA18 !important ;
	color: white !important;
}
.wlc-user{
	color: #F7CA18;
	font-family: 'Lobster';
	font-size: 20px;
	border-right: solid 1px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	position: relative;
	display: block;
}
.dropdown-menu > li > a {
	color: #F7CA18;
	font-family: 'Lobster';
	font-size: 20px;
}
.dropdown-menu > li > a:hover {
	background-color: transparent;
	color: white;
}
.dropdown-menu {
	background-color: rgba(0,0,0,0.7);
}
.logotage {
	float: left;
	width: 50px;
	height: 50px;
}

/* <-- WELCOME PAGE --> */

h1 {
	text-align: center;
	color: white;
	font-size: 65px;
	margin-top: 150px;
	font-family: 'Lobster';
}
body {
	height: 100%;
	width: 100%;
	background: url('../img/tryy.jpg') fixed;
	background-repeat:no-repeat;
	background-size: cover;
}
#monCanvas {
	margin:auto;
	width: 100%;
	height: 100px;
	z-index: -100;
}
svg {
    display: block;
    font-family: 'Pacifico';
    width: 100%;
    height: 250px;
    margin: 30px 0 0 0;
    font-size: 110px;
}
.text-copy {
    fill: #F7CA18;
    stroke: white;
    stroke-dasharray: 8% 27%;
    stroke-width: 2px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5s infinite linear;
}
.text-copy:nth-child(1) {
    stroke: black;
    animation-delay: -1s;
}
.text-copy:nth-child(2) {
    stroke: black;
    animation-delay: -2s;
}
.text-copy:nth-child(3) {
    stroke: white ;
    animation-delay: -3s;
}
.text-copy:nth-child(4) {
    stroke: black;
    animation-delay: -4s;
}
.text-copy:nth-child(5) {
    stroke: black;
    animation-delay: -5s;
}
@keyframes stroke-offset {
    100% { stroke-dashoffset: -35%;}
}
.link {
	margin-top: 80px;
	text-align: center;
	height: 40px;
}
.link>a {
	color: #F7CA18;
	font-size: 27px;
	background-color: rgba(0,0,0,1);
	border-radius: 22px;
	box-shadow: ;
	border: solid #F7CA18 1px;
	padding: 10px;
	font-family: 'Lobster';
}
.link>a:hover {
	color: #ececec;
	text-decoration: none;
	border: solid #ececec 3px;
}
#monCanvas2 {
	margin:auto;
	width: 100%;
	height: 100px;
	z-index: -100;
	margin-top: 20px;
}

/* REGISTER PAGE */

.register-div {
	background-color: rgba(0,0,0,0.7);
	color: #F7CA18;
	font-family: 'Lobster';
}
.btn {
	background-color: black;
	margin: 5px;
	color: #F7CA18;
	border: solid #F7CA18 1px;
}
.btn:hover {
	background-color: black;
	color: white;
	border: solid white 1px;
}
.btn:focus {
	background-color: black;
	color: white;
	border: solid white 1px;
}
.register-form {
	padding: 10px;
	font-size: 18px;
}
.register-title {
	text-align: center;
}

/* LOGIN PAGE */

.logform {
	background-color: rgba(0,0,0,0.7);
	color: #F7CA18;
	font-family: 'Lobster';
}
.btnlogin {
	background-color: black;
	color: #F7CA18;
	margin: 10px;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}
.btnlogin:hover {
	color: white;
	border: solid white 1px;
}
.btnlogin:focus {
	color: white;
	border: solid white 1px;
}
.tilti {
	padding: 10px;
	font-size: 18px;
	color: #F7CA18;
}
.login-title {
	text-align: center;
	font-size: 30px;
}

/* ACCUEIL PAGE */

.content {
    width: 310px;
    font-size: 50px;
    line-height: 55px;
    color: #ecf0f1;
    margin: 1em auto 0;
    font-family: 'Lobster';
}
.static {
    float: left;
    overflow: hidden;
    height: 60px;
}
p {
    display: inline;
    float: left;
    margin: 0;
    color: #F7CA18;
}
.def {
    margin-top: 0;
    padding-left: 220px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
}
.def .word {
    color: #9A12B3;
    line-height: 55px;
    margin: 0;
}
@keyframes change {
    0% { margin-top: 0; }
    15% { margin-top: 0; }
    25% { margin-top: -55px; }
    40% { margin-top: -55px; }
    50% { margin-top: -55px; }
    65% { margin-top: -110px; }
    75% { margin-top: -110px; }
    85% { margin-top: -110px; }
    100% { margin-top: 0; }
}
.dyn-word {
	margin-bottom: 25px;
}
.result-ind {
	color: #F7CA18;
	margin: 0;
	font-family: 'Lobster';
	font-size: 22px;
	text-align: center;
}
.result-indd {
	background-color: rgba(0,0,0,0.7);
	color: #F7CA18;
	margin: 18px;
	font-family: 'Lobster';
	font-size: 22px;
	text-align: center;
}
.folder {
	width: 160px;
	height: 160px;
	border: solid #F7CA18 2px;
	border-radius: 3px;
	margin-top: 10px;
}
.album-list-inde {
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'Lobster';
	padding: 10px;
}
.added-by {
	color: #F7CA18;
	font-family: 'Lobster';
	text-align: left;
}
.btn-acces {
	font-size: 22px;
}
.div-btn {
	padding-top: 50px;
}
.view-user {
	color: #9A12B3;
}
.view-user:hover {
	color: #8E44AD;
}
/* PROFIL PAGE */
.prl-div {
	background-color: rgba(0,0,0,0.7);
}
.prl-title {
	color: #F7CA18;
	text-align: center;
	font-family: 'Lobster';
}
.btn-prl {
	background-color: black;
	color: #F7CA18;
	font-size: 22px;
	padding: 5px;
	border: solid #F7CA18 1px;
	font-family: 'Lobster';
}
.btn-prl:hover {
	color: white;
	border: solid white 2px;
}
.btn-prl:focus {
	color: white;
}
.profil-pic {
	height: 100%;
	width: 100%;
}
.user-inf {
	font-family: 'Lobster';
	font-size: 24px;
}
.prl-list-alb {
	font-family: 'Lobster';
	font-size: 16px;
}
.ong {
	cursor: pointer;
}
.corpsother {
	min-height: 520px;
	max-height: 520px;
	overflow: auto;
}
.corps2 {
	display:none;
}
.corps3 {
	display:none;
}
.fr-pic {
	height: 70%;
	width: 70%;
}
.try {
	text-align: center;
	font-size: 22px;
}
.title-sub {
	margin-bottom: 35px;
}
.glet {
	cursor:pointer;
}
.page2 {
	display:none;
}
.pageother {
	max-height: 520px;
	overflow: auto;
}
.right-div {
	margin-bottom: 15px;
}
/* NEW ALBUM PAGE */
.crt-alb-title {
	margin-top: 0;
	color: #F7CA18;
}
.new-div {
	background-color: rgba(0,0,0,0.7);
}
.alb-form {
	color: #F7CA18;
	margin: 5px;
}

/* ALBUM PAGE */
.file-list {
	background-color:rgba(0,0,0,0.7);
	padding: 15px;
}
.lop {
	border-bottom: solid white 1px;
}
.view-user-alb {
	color:white;
}
.search-result {
	max-width: 300px;
	border: solid #F7CA18 1px;
	border-radius: 5px;
	color: #F7CA18;
	font-family:'Lobster';
	font-size: 18px;
	z-index: 2000;
	max-height: 500px;
	display: none;
	background-color: black;
	position: absolute;
}
.resultat {
	border-bottom:solid #F7CA18 1px;
	height: 88px;
	padding: 10px;
}