/* <-- Navbar --> */

.navbar {
	background-color: #674172;
	border: none;
	height: 65px;
}
.navbar-brand {
	color: #F7CA18 !important;
	font-family: 'Pacifico';
	font-size: 36px;
}
.navbar-default .navbar-nav > li > a {
	color: #F7CA18 !important;
	font-family: 'Lobster';
	font-size: 20px;
}
.navbar-default .navbar-nav > .open > a {
	background-color: #F7CA18 !important ;
	color: white !important;
}
.wlc-user{
	color: #F7CA18;
	font-family: 'Lobster';
	font-size: 20px;
	border-right: solid 1px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	position: relative;
	display: block;
}
.dropdown-menu > li > a {
	color: #F7CA18;
	font-family: 'Lobster';
	font-size: 20px;
}
.dropdown-menu > li > a:hover {
	background-color: transparent;
	color: white;
}
.dropdown-menu {
	background-color: #674172;
}
.logotage {
	float: left;
	width: 50px;
	height: 50px;
}

/* <-- WELCOME PAGE --> */

h1 {
	text-align: center;
	color: white;
	font-size: 65px;
	margin-top: 150px;
	font-family: 'Lobster';
}
body {
	height: 100%;
	width: 100%;
	background: url('../img/Texur-03.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}
#monCanvas {
	margin:auto;
	width: 100%;
	height: 100px;
	z-index: -100;
}
svg {
    display: block;
    font-family: 'Pacifico';
    width: 100%;
    height: 250px;
    margin: 30px 0 0 0;
    font-size: 110px;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 8% 27%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5s infinite linear;
}
.text-copy:nth-child(1) {
    stroke: #F7CA18;
    animation-delay: -1s;
}
.text-copy:nth-child(2) {
    stroke: #FDE3A7;
    animation-delay: -2s;
}
.text-copy:nth-child(3) {
    stroke: #F7CA18 ;
    animation-delay: -3s;
}
.text-copy:nth-child(4) {
    stroke: #FDE3A7;
    animation-delay: -4s;
}
.text-copy:nth-child(5) {
    stroke: #F7CA18;
    animation-delay: -5s;
}
@keyframes stroke-offset {
    100% { stroke-dashoffset: -35%;}
}
.link {
	margin-top: 80px;
	text-align: center;
	height: 40px;
}
.link>a {
	color: #F7CA18;
	font-size: 27px;
	background-color: #674172;
	border-radius: 22px;
	box-shadow: ;
	border: solid #F7CA18 1px;
	padding: 10px;
	font-family: 'Lobster';
}
.link>a:hover {
	color: #ececec;
	text-decoration: none;
	border: solid #ececec 3px;
}
#monCanvas2 {
	margin:auto;
	width: 100%;
	height: 100px;
	z-index: -100;
	margin-top: 20px;
}

/* REGISTER PAGE */

.register-div {
	background-color: #674172;
	color: #F7CA18;
	font-family: 'Lobster';
}
.btn {
	background-color: #F7CA18;
	margin: 5px;
}
.btn:hover {
	background-color: white;
	color: #F7CA18;
}
.btn:focus {
	background-color: white;
	color: #F7CA18;
}
.register-form {
	padding: 10px;
	font-size: 18px;
}
.register-title {
	text-align: center;
}

/* LOGIN PAGE */

.logform {
	background-color: #674172;
	color: #F7CA18;
	font-family: 'Lobster';
}
.btnlogin {
	background-color: #674172;
	color: white;
	margin: 10px;
	font-size: 20px;
	padding: 5px;
}
.btnlogin:hover {
	background-color: white;
	color: #F7CA18;
}
.btnlogin:focus {
	background-color: white;
	color: #F7CA18;
}
.tilti {
	padding: 10px;
	font-size: 18px;
	color: #F7CA18;
}
.login-title {
	text-align: center;
	font-size: 30px;
}

/* ACCUEIL PAGE */

.content {
    width: 310px;
    font-size: 50px;
    line-height: 55px;
    color: #ecf0f1;
    margin: 1em auto 0;
    font-family: 'Lobster';
}
.static {
    float: left;
    overflow: hidden;
    height: 60px;
}
p {
    display: inline;
    float: left;
    margin: 0;
    color: #F7CA18;
}
.def {
    margin-top: 0;
    padding-left: 220px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
}
.def .word {
    color: #674172;
    line-height: 55px;
    margin: 0;
}
@keyframes change {
    0% { margin-top: 0; }
    15% { margin-top: 0; }
    25% { margin-top: -55px; }
    40% { margin-top: -55px; }
    50% { margin-top: -55px; }
    65% { margin-top: -110px; }
    75% { margin-top: -110px; }
    85% { margin-top: -110px; }
    100% { margin-top: 0; }
}
.dyn-word {
	margin-bottom: 25px;
}
.result-ind {
	color: #F7CA18;
	margin: 0;
	font-family: 'Lobster';
	font-size: 22px;
	text-align: center;
}
.result-indd {
	background-color: #674172;
	color: #F7CA18;
	margin: 18px;
	font-family: 'Lobster';
	font-size: 22px;
	text-align: center;
}
.folder {
	width: 160px;
	height: 160px;
	border: solid #F7CA18 2px;
	border-radius: 3px;
	margin-top: 10px;
}
.album-list-inde {
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'Lobster';
	padding: 10px;
}
.added-by {
	color: #F7CA18;
	font-family: 'Lobster';
	text-align: left;
}
.btn-acces {
	font-size: 22px;
}
.div-btn {
	padding-top: 50px;
}

/* PROFIL PAGE */
.prl-div {
	background-color: #674172;
}
.prl-title {
	color: #F7CA18;
	text-align: center;
	font-family: 'Lobster';
}
.btn-prl {
	background-color: #674172;
	color: #F7CA18;
	font-size: 22px;
	padding: 5px;
	border: solid #F7CA18 1px;
	font-family: 'Lobster';
}
.btn-prl:hover {
	background-color: #674172;
	color: white;
	border: solid white 2px;
}
.btn-prl:focus {
	background-color: #674172;
	color: white;
}
.profil-pic {
	height: 100%;
	width: 100%;
}
.user-inf {
	font-family: 'Lobster';
	font-size: 24px;
}
.prl-list-alb {
	font-family: 'Lobster';
	font-size: 16px;
}
/* NEW ALBUM PAGE */
.crt-alb-title {
	margin-top: 0;
	color: #F7CA18;
}
.new-div {
	background-color: #674172;
}
.alb-form {
	color: #F7CA18;
	margin: 5px;
}

/* ALBUM PAGE */
.file-list {
	background-color:#674172;
	padding: 15px;
}
.lop {
	border-bottom: solid white 1px;
}